[submodule "src/lib/geogram/third_party/amgcl"]
	path = src/lib/geogram/third_party/amgcl
	url = ssh://git@github.com:ddemidov/amgcl.git
[submodule "src/lib/third_party/glfw"]
	path = src/lib/third_party/glfw
	url = ssh://git@github.com:glfw/glfw.git 
[submodule "src/lib/geogram_gfx/third_party/imgui"]
	path = src/lib/geogram_gfx/third_party/imgui
	url = ssh://git@github.com:ocornut/imgui.git
	branch = docking
[submodule "src/lib/geogram/third_party/libMeshb"]
	path = src/lib/geogram/third_party/libMeshb
	url = ssh://git@github.com:LoicMarechal/libMeshb.git
[submodule "src/lib/geogram/third_party/rply"]
	path = src/lib/geogram/third_party/rply
	url = ssh://git@github.com:diegonehab/rply.git
